{{ if eq .osid "linux-arch" -}}
#!/bin/bash

# Automatically setups new theme if color scheme is changed
# Theme data hash: {{ include ".chezmoidata.toml" | sha256sum }}

# Make sure Themix/Oomox is installed
# yay -S themix-theme-oomox-git themix-icons-suru-plus-aspromauros-git

# Generate Oomox themes
COLORS=~/Scripts/oomox-colors.sh
PLUGINS=/opt/oomox/plugins
$PLUGINS/theme_oomox/change_color.sh -o jarizleifr $COLORS
$PLUGINS/icons_suruplus_aspromauros/change_color.sh -o jarizleifr_icons $COLORS

# Restart services that use color schemes
systemctl --user restart emacs tint2 dunst

# Reconfigure X
xrdb ~/.Xresources
# Reconfigure window manager
openbox --reconfigure
# TODO: Reconfigure display manager

# Regenerate wallpaper
convert wallpaper_src.png \
        -fill '#{{ .base00 }}' -opaque '#000000' \
        -fill '#{{ .base01 }}' -opaque '#555555' \
        -fill '#{{ .accent }}' -opaque '#ffffff' \
        ~/wallpaper.png

~/.fehbg

{{ end -}}
