{{ if eq .osid "linux-arch" -}}

{{ $packages := list
   "fd-find"
   "git"
   "htop"
   "neofetch"
   "rsync"
   "tig" -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

# Install packages
{{ $sudo }}pacman -Sy {{ $packages | join " " }}

{{ end -}}
