{{ if eq .osid "linux-arch" -}}

{{ $packages := list
   "dmenu"
   "dunst"
   "feh"
   "hsetroot"
   "lightdm"
   "lightdm-gtk-greeter"
   "lightdm-gtk-greeter-settings"
   "lxappearance"
   "obconf"
   "openbox"
   "pcmanfm"
   "picom"
   "pulseaudio"
   "network-manager-applet"
   "nvidia"
   "scrot"
   "tint2"
   "volumeicon"
   "xcursor-vanilla-dmz"
   "xdotool"
   "xorg-server" -}}

{{ $yaypackages := list
   "rxvt-unicode-pixbuf"
   "urxvt-resize-font-git"
   "urxvt-tabbedex" -}}

#!/bin/bash

# Install packages
sudo pacman -Sy {{ $packages | join " " }}

# Install AUR packages
yay -S {{ $yaypackages | join " " }}

{{ end -}}
