# Emacs folders
.emacs.d/.tutor/
.emacs.d/elpa/
.emacs.d/fonts/
.emacs.d/server/
.emacs.d/tmp/
.emacs.d/transient/
# Emacs files
.emacs.d/bookmarks
.emacs.d/config.el
.emacs.d/network-security.data
.emacs.d/places
.emacs.d/projectile.cache
.emacs.d/projectile-bookmarks.eld
.emacs.d/recentf

# Manual utils folder (might contain licensed stuff so don't push to repo)
utils/

