# -*- mode: conf -*-

# Menu
menu.border.color: #{{ .base01 }}
menu.border.width: 2

menu.title.bg: Solid Flat
menu.title.bg.color: #{{ .base00 }}
menu.title.bg.shadow: 0
menu.title.text.color: #{{ .base05 }}
menu.title.text.justify: Center

menu.items.bg: Solid Flat
menu.items.bg.color: #{{ .base00 }}
menu.items.text.color: #{{ .base05 }}
menu.items.disabled.text.color: {{ .base03 }}

menu.items.active.bg: Solid Flat
menu.items.active.bg.color: #{{ .base02 }}
menu.items.active.text.color: #{{ .base05 }}

menu.separator.color: #{{ .base05 }}
menu.separator.width: 1
menu.separator.padding.width: 4
menu.separator.padding.height: 8

# Window focused
window.active.title.separator.color: #{{ .base01 }}

# Active window
window.active.border.color: #{{ .base01 }}

window.active.title.bg: flat solid
window.active.title.bg.color: #{{ .base01 }}
window.active.title.separator.color: #{{ .base01 }}
window.active.text.justify: center

window.active.label.bg: parentrelative
window.active.label.text.color: #{{ .base05 }}

window.active.handle.bg: flat solid
window.active.handle.bg.color: #{{ .base01 }}

window.active.grip.bg: flat solid
window.active.grip.bg.color: #{{ .base01 }}

window.active.button.unpressed.bg: flat solid
window.active.button.unpressed.bg.color: #{{ .base01 }}
window.active.button.unpressed.image.color: #{{ .base05 }}

window.active.button.pressed.bg: flat solid
window.active.button.pressed.bg.color: #{{ .base01 }}
window.active.button.pressed.image.color: #{{ .base07 }}

window.active.button.disabled.bg: flat solid
window.active.button.disabled.bg.color: #{{ .base01 }}
window.active.button.disabled.image.color: #{{ .base03 }}

window.active.button.hover.bg: flat solid
window.active.button.hover.bg.color: #{{ .base02 }}
window.active.button.hover.image.color: #{{ .base05 }}

window.active.button.toggled.bg: #{{ .base01 }}
window.active.button.toggled.image.color: #{{ .base05 }}

# Inactive window
window.inactive.border.color: #{{ .base01 }}

window.inactive.title.bg: flat solid
window.inactive.title.bg.color: #{{ .base01 }}
window.inactive.title.separator.color: #{{ .base01 }}
window.inactive.text.justify: center

window.inactive.label.bg: parentrelative
window.inactive.label.text.color: #{{ .base03 }}

window.inactive.handle.bg: flat solid
window.inactive.handle.bg.color: #{{ .base01 }}

window.inactive.grip.bg: flat solid
window.inactive.grip.bg.color: #{{ .base01 }}

window.inactive.button.unpressed.bg: flat solid
window.inactive.button.unpressed.bg.color: #{{ .base01 }}
window.inactive.button.unpressed.image.color: #{{ .base03 }}

window.inactive.button.pressed.bg: flat solid
window.inactive.button.pressed.bg.color: #{{ .base01 }}
window.inactive.button.pressed.image.color: #{{ .base07 }}

window.inactive.button.disabled.bg: flat solid
window.inactive.button.disabled.bg.color: #{{ .base03 }}
window.inactive.button.disabled.image.color: #{{ .base01 }}

window.inactive.button.hover.bg: flat solid
window.inactive.button.hover.bg.color: #{{ .base02 }}
window.inactive.button.hover.image.color: #{{ .base05 }}

window.inactive.button.toggled.bg: #{{ .base0E }}
window.inactive.button.toggled.image.color: #{{ .base03 }}

# OSD
osd.border.width: 2
osd.border.color: #{{ .base02 }}

osd.bg: Solid Flat
osd.bg.color: #{{ .base00 }}
osd.bg.shadow: 0

osd.label.bg: flat solid
osd.label.bg.color: #{{ .base00 }}
osd.label.text.color: #{{ .base05 }}

osd.hilight.bg: Solid Flat
osd.hilight.bg.color: #{{ .accent }}
osd.unhilight.bg: flat solid
osd.unhilight.bg.color: #{{ .base00 }}

osd.button.unpressed.bg: flat border
osd.button.unpressed.bg.color: #{{ .base01 }}
#osd.button.unpressed.*.border.color: #{{ .base05 }}

osd.button.pressed.bg: flat border
osd.button.pressed.bg.color: #{{ .base0B }}

osd.button.focused.bg: flat solid border
osd.button.focused.bg.color: #{{ .base0B }}

osd.button.focused.box.color: #{{ .base0E }}

# Fonts
window.active.label.text.font:shadow=n
window.inactive.label.text.font:shadow=n
menu.items.font:shadow=n
menu.title.text.font:shadow=n

# Everything else
border.width: 2
padding.width: 2
padding.height: 2
window.handle.width: 0
window.client.padding.width: 0
window.label.text.justify: center
