# -*- mode: sh -*-
NAME="Jarizleifr oomox theme template colors"
NOGUI=True
BG={{ .base01 }}
FG={{ .base05 }}
TXT_BG={{ .base00 }}
TXT_FG={{ .base05 }}
SEL_BG={{ .base02 }}
SEL_FG={{ .base07 }}
HDR_BG={{ .base01 }}
HDR_FG={{ .base05 }}
BTN_BG={{ .base01 }}
BTN_FG={{ .base05 }}
HDR_BTN_BG={{ .base01 }}
HDR_BTN_FG={{ .base05 }}
WM_BORDER_FOCUS={{ .base0A }}

# Use selected accent color for many things
ACCENT_BG={{ .accent }}
ICONS_LIGHT_FOLDER={{ .accent }}
ICONS_LIGHT={{ .accent }}
ICONS_MEDIUM={{ .accent }}
ICONS_DARK={{ .accent }}
ICONS_SYMBOLIC_ACTION={{ .accent }}
ICONS_PANEL_ACTION={{ .accent }}
