# Close desktop monitors by default, as I use TV instead
~/Scripts/close-monitors.sh
# Set TV to 1920x1080 instead of 4K default
xrandr --output HDMI-1 --mode 1920x1080 --rate 60

# Map CapsLock as an Escape
setxkbmap -option caps:escape
# Keyboard repeat at 200ms and 30hz
xset r rate 200 30

# Load wallpaper
hsetroot -solid #{{ .base00 }}
~/.fehbg

# Compositor
picom &

# Taskbar
tint2 &

# Volume control
volumeicon &

# Notifications
/usr/bin/dunst &

# Dropbox
/usr/bin/dropbox &
